/* Variaveis */
:root {
  --border-img-color: #b2b3b3;
  --box-shadow-color: #4c4c4c;
  --title-after-color: #ff7e79;
  --title2-after-color: #bdd7ee;
  --title3-after-color: #5dd2a6;
  /*  */
  --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /*  */
  --main-spacing-30x100: 30px 100px;
}

/* Variaveis Responsivo */
:root {
  --main-spacing-30x80: 30px 80px;
  --main-spacing-30x55: 30px 55px;
  /*  */
  --font-main-title-15: 1.5rem;
  --font-title-12: 1.2rem;
  --font-p-0875: 0.875rem;
  /*  */
  --font-main-title-12: 1.2rem;
  --font-title-1: 1rem;
  --font-p-0775: 0.775rem;
}

/* Reset CSS */
body {
  max-width: 1660px;
  zoom: 0.9;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 80px 0px;
  margin: 0 auto;
  font-family: var(--main-font-family);
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
img {
  border: 1px solid var(--border-img-color);
  display: block;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 5px 5px 0px 1px var(--box-shadow-color);
}

/* Classes gerais */
.main-title {
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--box-shadow-color);
  text-transform: uppercase;
  font-weight: 500;
}
.title,
.title-2,
.title-3 {
  width: max-content;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.conference-year {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
}
.title::after {
  background: var(--title-after-color);
  height: 5px;
  content: "";
}
.title-2::after {
  background: var(--title2-after-color);
  height: 5px;
  content: "";
}
.title-3::after {
  background: var(--title3-after-color);
  height: 5px;
  content: "";
}
/* */

/* Apresentação */
.main-container {
  padding: 20px 25px;
  gap: var(--main-spacing-30x100);
}
.main-presentation {
  display: grid;
  grid-template-columns: auto 2fr;
}

.main-presentation > h1 {
  grid-column: span 2;
}

.profile-pic {
  width: 167px;
  margin-bottom: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.about-me ul {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--box-shadow-color);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.social-media {
  display: flex;
  gap: 20px;
}

/*  */

/* Apresentação - Formação */
.formation {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--main-spacing-30x100);
  justify-content: center;
  margin: 0 auto;
}

.formation img + img {
  margin-left: 35px;
}

.formation > div {
  display: grid;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--box-shadow-color);
  height: fit-content;
}

.formation-desc {
  font-weight: 500;
  margin-top: 35px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.formation-line1,
.formation-line2,
.formation-line3 {
  grid-column: 1;
}
.formation-line4 {
  grid-column: 2;
  grid-row: 2;
}
.formation-line5 {
  grid-column: 2;
  grid-row: 3;
}
/*  */

/* Responsivel */
@media (max-width: 1300px) {
  body {
    zoom: 1;
  }
  .logo {
    width: 150px;
  }
  .formation img + img {
    margin-left: 15px;
  }
}
@media (max-width: 1225px) {
  .main-presentation {
    padding: 20px 35px;
    gap: var(--main-spacing-30x80);
  }
  .formation {
    grid-template-columns: 1fr;
  }
  .formation-line1,
  .formation-line2,
  .formation-line3,
  .formation-line4,
  .formation-line5 {
    grid-column: auto;
    grid-row: auto;
  }

  .formation-line3,
  .formation-line4,
  .formation-line5 {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .formation-line3 .formation-desc,
  .formation-line4 .formation-desc,
  .formation-line5 .formation-desc {
    grid-column: 2;
    padding-bottom: 25px;
  }
  .logo {
    width: 150px;
  }
}
@media (max-width: 960px) {
  .formation-line3 .formation-desc,
  .formation-line4 .formation-desc,
  .formation-line5 .formation-desc {
    grid-column: 2;
    padding-bottom: 0px;
  }
  .main-presentation {
    padding: 20px 40px;
    gap: var(--main-spacing-30x55);
  }
  img {
    box-shadow: 5px 5px 0px -1px var(--box-shadow-color);
  }
}
@media (max-width: 880px) {
  .main-title {
    font-size: var(--font-main-title-15);
    font-weight: 700;
  }
  .title,
  .title-2 {
    font-size: var(--font-title-12);
  }
  .desc {
    font-size: var(--font-p-0875);
  }
  .about-me {
    font-size: var(--font-p-0875);
  }
  .about-me ul {
    padding-bottom: 15px;
    font-weight: 400;
    gap: 7px;
  }
}
@media (max-width: 735px) {
  .main-presentation {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
  }
  .about-me {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px 50px;
  }
  .about-me h2,
  .profile-pic {
    grid-column: 1;
  }
  .about-me div:nth-child(3),
  .about-me div:nth-child(4),
  .about-me div:nth-child(5) {
    grid-column: 2;
  }
  .about-me div:nth-child(5) {
    grid-row: 2;
  }
  .about-me .social-media {
    grid-row: 5;
    grid-column: 2;
  }
  .about-me ul {
    gap: 5px;
  }
}
@media (max-width: 520px) {
  .main-presentation > div {
    border: none;
    padding-bottom: 0px;
  }
  .main-title {
    font-size: var(--font-main-title-12);
    font-weight: 700;
  }
  .title,
  .title-2 {
    font-size: var(--font-title-1);
  }
  .about-me {
    font-size: var(--font-p-0775);
  }
  .profile-pic {
    width: 120px;
  }
}
@media (max-width: 460px) {
  .about-me {
    display: flex;
  }
  .main-presentation {
    padding-right: 30px;
  }
  .desc {
    font-size: var(--font-p-0775);
  }
  .formation-desc {
    font-weight: 400;
    gap: 4px;
  }
  .formation-desc > p {
    font-weight: 500;
  }
}
/*  */

/*  */
/*  */
/* Tapps games */
.tapps-games > h1 {
  grid-column: span 2;
}
.tapps-games {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tapps-intro {
  margin-top: 30px;
  grid-column: 1;
}
.tapps-intro > img {
  width: 270px;
}
.tapps-games > div h2 {
  margin-bottom: 35px;
}
.tapps-games div + div {
  margin-top: 25px;
}
.tapps-assignments {
  display: flex;
  flex-direction: column;
}
.tapps-assignments h3{
  margin-bottom: 20px;
}
.tapps-assignments ul li {
  font-weight: 500;
  margin-left: 20px;
  list-style: square;
}
.tapps-assignments ul li + li {
  margin-top: 5px;
}

/* Responsivel */
@media (max-width: 1300px) {
  .tapps-games {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .tapps-intro {
    margin-bottom: 35px;
  }
  .logo-2 {
    width: 320px;
  }
}

@media (max-width: 500px) {
  .tapps-assignments ul li {
    font-size: 0.8rem;
    margin-left: 15px;
  }
}
/*  */

/* GRUPO FLEURY */
.group-fleury {
  display: grid;
  grid-template-columns: auto 1fr;
}
.group-fleury-jobs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.group-fleury > h1 {
  grid-column: span 3;
}
.logo-3 {
  width: 230px;
}
.fleury-dre {
  grid-column: 1;
  display: grid;
  grid-template-columns: auto 1fr;
}
.fleury-bi {
  border-top: 1px solid var(--box-shadow-color);
}
.fleury-bi > h2 {
  margin-top: 20px;
}
.group-fleury h2 {
  grid-column: span 2;
  margin-bottom: 35px;
}
.fleury-outputs {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 35px;
}
.fleury-outputs-desc {
  display: flex;
  flex-direction: column;
}
.fleury-outputs-desc > p {
  font-weight: 500;
  font-size: 1.05rem;
  margin-bottom: 35px;
}
.output{
  border-bottom: 1px solid var(--box-shadow-color);
  width: fit-content;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.group-fleury ul li {
  font-weight: 500;
  margin-left: 20px;
  list-style: square;
}
.group-fleury ul li + li {
  margin-top: 5px;
}
/*  */
/* BI MEDICO*/
.fleury-doctors-img {
  width: 400px;
}
.fleury-outputs-bi {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
/*  */

/* GLOBAL CONFERENCE ON PRIMARY HEALTH CARE */
.global-conference-img {
  width: 500px;
}
.conference-desc {
  margin-top: 35px;
  font-size: 1.1rem;
}
.fleury-conference p + p,
.fleury-conference img + img {
  margin-top: 35px;
  font-size: 1.1rem;
}
.fleury-conference img + img {
  width: 250px;
}
/*  */

/* RESPONSIVEL */
@media (max-width: 1300px) {
  .group-fleury {
    display: flex;
    flex-direction: column;
  }
  .logo-3 {
    width: 180px;
  }
  .global-conference-img {
    width: 350px;
  }
  .global-conference-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .group-fleury-jobs {
    padding-bottom: 35px;
    border-bottom: 1px solid var(--box-shadow-color);
  }
}

@media (max-width: 850px) {
  .global-conference-images {
    max-width: 450px;
    grid-template-columns: 1fr;
  }
  .global-conference {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 20px;
  }
}
/*  */

@media (max-width: 710px) {
  .global-conference {
    display: flex;
    flex-direction: column;
  }

  .title-3 {
    width: auto;
  }
  .fleury-doctors-img {
    width: auto;
  }
}

@media (max-width: 500px) {
  .tapps-assignments:nth-child(5) ul li{
    font-size: 0.9rem;
    font-weight: 400;
  }
  .outputs-desc {
    grid-column: span 2;
  }
  .fleury-outputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .group-fleury p {
    font-size: 1rem;
    font-weight: 400;
  }
  .logo-3 {
    width: 140px;
  }
  .caderno-diplomata-img {
    max-width: 150px;
  }
  .fleury-conference p + p,
  .fleury-conference img + img {
    margin-top: 20px;
  }
  .conference-desc {
    margin-top: 5px;
  }
}
